<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

In [2]:
import os

In [4]:
datos = os.listdir()
datos

['laboratorio-modulo2-leccion01-numpy.ipynb',
 'laboratorio-modulo2-leccion05-limpieza.ipynb',
 'laboratorio-modulo2-leccion04-visualizacion.ipynb',
 'laboratorio-modulo2-leccion03-groupby.ipynb',
 'laboratorio-modulo2-leccion02-eda-union.ipynb',
 'laboratorio-modulo2-leccion03-filtrado.ipynb']

In [ ]:
diccioanrio_df = {diccioanrio_df[re.findall("\d{4}", i)[0]] : pd.read_csv(f"..dato/{i}") for i in datos}

diccioanrio_df = {}
for i in datos:
    df = pd.read_csv(i)
    diccioanrio_df[i.spl]

for i in datos
# Laboratorio de NumPy

#### Ejercicio 1 - Crea un array de 1D con los números del 0 al 9.

In [ ]:
import numpy as np

In [ ]:
array1 = np.arange(10)
print(array1)

#### Ejercicio 2 - Convierte un array 1D en un array 2D con 2 filas y 5 columnas.

In [ ]:
array2 = array1.reshape(2,5)
print(array2)

#### Ejercicio 3 - Encuentra los índices de los elementos con valor distinto de 0 en el siguiente array: [0, 2, 0, 3, 0, 4, 0].

In [ ]:
lista1 = [0,2,0,3,0,4,0]
array3 = np.array(lista1)
print(array3)

In [ ]:
filtro = np.where(array3 != 0)
print(filtro)

#### Ejercicio 4 - Crea un array 3x3 con valores aleatorios entre 0 y 1.

In [ ]:
array4 = np.random.rand(3, 3)
print(array4)

#### Ejercicio 5 - Crea un array de 10 números aleatorios y encuentra el valor máximo y mínimo.

In [ ]:
array5 = np.random.randint(0,50,10)
print(array5)

max_array5 = max(array5)
print(max_array5)

min_array5 = min(array5)
print(min_array5)

#### Ejercicio 6 - Crea un array de una dimensión e inviértelo.

In [ ]:
array6 = np.arange(5)
print(array6)

array_invertido = array6[::-1]
print(array_invertido)


#### Ejercicio 6 - Genera un array tridimensional de dimensiones (2, 3, 4) con valores enteros del 1 al 24.

- Selecciona el primer `15` del array.

- Selecciona todos los elementos del primer array. 

- Selecciona la última fila del último array

In [ ]:
array7 = np.arange(1,25)
print(array7)

array8 = array7.reshape(2,3,4)
print(array8)

In [ ]:
array8[1,0,2]

In [ ]:
array8[0]

In [ ]:
array8[1,2]


#### Ejercicio 7 - Genera un array tridimensional de dimensiones (3, 2, 5) con valores enteros del 1 al 30.

- Selecciona el subarray que contiene los dos primeros elementos de cada fila del primer array.

- Selecciona el subarray que contiene todas las filas de los dos últimos arrays.

In [ ]:
array9 = np.arange(1,31)
print(array9)

array10 = array9.reshape(3,2,5)
print(array10)

In [ ]:
array10[0,:,0:2]

In [ ]:
array10[1:]

#### Ejercicio 8 - Genera un array tridimensional de dimensiones (4, 3, 2) con valores enteros del 1 al 24.

- Cambia todos los elementos de la segunda fila del segundo array por `0`.

- Cambia todos los valores del último array a `-1`.

In [ ]:
array11 = np.arange(1,25)
print(array11)

array12 = array11.reshape(4,3,2)
print(array12)

In [ ]:
array12[1,1] = 0
print(array12)

In [ ]:
array12[3] = -1
print(array12)


#### Ejercicio 9 - Genera un array tridimensional de dimensiones (2, 4, 3) con valores enteros del -10 al 13.

- Selecciona todos los elementos mayores a `5`.

- Reemplaza todos los elementos negativos por `0`.

In [ ]:
array13 = np.arange(-10,14)
print(array13)

array14 = array13.reshape(2,4,3)
print(array14)

In [ ]:
criterio = array14 > 5
resultado = array14[criterio]
print(resultado)

In [ ]:
condicion = np.where(array14 < 0, 0, array14)
print(condicion)

#### Ejercicio 10 - Genera un array tridimensional de dimensiones (3, 3, 3) con valores enteros del 1 al 27.

- Selecciona el subarray del segundo array que contenga solo las dos primeras columnas.

- Selecciona todos los elementos del tercer array que sean mayores que `20`.

In [ ]:
array15 = np.arange(1,28)
print(array15)

array16 = array15.reshape(3,3,3)
print(array16)

In [ ]:
array16[1,:,0:2]

In [ ]:
criterio = array16 > 20
resultado = array16[criterio]
print(resultado)

#### Ejercicio 11 - Crea un array de 10 números aleatorios y reemplaza los valores máximos y mínimos por 0.

In [ ]:
array17 = np.random.randint(1,20,10)
print(array17)

maximo = max(array17)
print(maximo)

minimo = min(array17)
print(minimo)

posicion_maximo = np.where(array17 == maximo)
posicion_minimo = np.where(array17 == minimo)

array17[posicion_maximo] = 0
array17[posicion_minimo] = 0

print(array17)

#### Ejercicio 12 - Genera un array de 15 números aleatorios enteros entre 1 y 100 y reordénalo en orden ascendente.

In [ ]:
array18 = np.random.randint(1,100,15)
print(array18)

In [ ]:
array19 = np.sort(array18)
print(array19)

#### Ejercicio 11 - Calcula la suma de los elementos a lo largo de las filas y columnas en una matriz 4x4.

In [ ]:
array19 = np.random.randint(1,100,(4,4))
print(array19)

In [ ]:
suma_columnas = np.sum(array19, 0)
print(suma_columnas)

In [ ]:
suma_filas = np.sum(array19, 1)
print(suma_filas)

#### Ejercicio 12 - Crea una matriz de 5x5 con valores en el borde igual a 1 y en el interior igual a 0.

In [ ]:
array20 = np.zeros((5,5), int)
print(array20)

array20[0] = 1
array20[4] = 1
array20[:,0] = 1
array20[:,4] = 1
print(array20)

#### Ejercicio 13 - Calcula la media y la desviación estándar de un array de 10 números aleatorios.

In [ ]:
array21 = np.random.randint(0,100,10)
print(array21)

media = np.mean(array21)
print(media)

desv_estandar = np.std(array21)
print(desv_estandar)

#### Ejercicio 14 - Genera un array tridimensional de dimensiones (2, 3, 4) con valores enteros del 1 al 24.

- Transpón el array para intercambiar los ejes de la forma (2, 3, 4) a (4, 3, 2).

- Observa cómo cambian las posiciones de los elementos y sus índices después de la transposición. Explica en una celda de markdown que es lo que ha pasado.

In [ ]:
array22 = np.arange(1,25)
print(array22)

array23 = array22.reshape(2,3,4)
print(array23)

In [ ]:
array24 = np.transpose(array23, (2,1,0))
print(array24)

In [ ]:
# Antes del transpose, la matriz tenia una forma = (2,3,4), es decir, 2 matrices, de 3 filas y 4 columnas cada una. La 'shape' de las matrices de forma general toma en la primera posición el eje 0, en la segunda el eje 1 y en la tercera el eje 2: (0,1,2). El eje 0 corresponde al número de matrices. El eje 1 al número de filas y el eje 2 al número de columnas. Para pasar de tener una matriz con forma (2,3,4) a una con forma (4,3,2) hay que lograrlo mediante la reordenación de los ejes correspondientes. Es decir, la forma inicial era: eje 0 = 2, eje 1 = 3 y eje 3 = 4. Ahora se quiere que: el nuevo eje 0 = antiguo eje 2 = 4. Que el nuevo eje 1 = antiguo eje 1 = 3. Que el nuevo eje 2 = antiguo eje 0 = 2. Por tanto, a la hora de transponer se indica la nueva posición de los ejes tomando en cuenta la que tenían inicialmente. El resultado para transponer sería (2,1,0), lo que daría como resultado la forma: (4,3,2)

In [ ]:
# En este caso se podría haber utilizado directamente la función de transponer sin haber indicado los ejes, ya que de forma predeterminada habría cambiado el Ncolumnas por Nmatrices. Es decir el eje 0 por el eje 2, y viceversa. Inicialmente: eje 0 = 2, eje 1 = 3, y eje 3 = 4. El eje 1 se mantiene igual, ósea que será igual a 3. El eje 0 pasa a ser el eje 3, por tanto el nuevo eje 3 = 2. Y el eje 3 pasa a ser el nuevo eje 0, es decir, igual a 4, con el resultado de la forma: (4,3,2)

In [ ]:
array24 = np.transpose(array23)
print(array24)

#### Ejercicio 15 - Genera un array tridimensional de dimensiones (3, 4, 2) con valores enteros del 1 al 24.

- Transpón el array para intercambiar el primer y segundo eje, de manera que la nueva forma del array sea (4, 3, 2).

In [ ]:
array24 = np.arange(1,25)
print(array24)

array25 = array24.reshape(3,4,2)
print(array25)

In [ ]:
array26 = np.transpose(array25, (1,0,2))
print(array26)

#### Ejercicio 16 - Genera un array tridimensional de dimensiones (3, 2, 4) con valores enteros del 1 al 24.

- Realiza una rotación completa de los ejes para convertir la forma original (3, 2, 4) en (4, 3, 2).

In [ ]:
array27 = np.arange(1,25)
print(array27)

array28 = array27.reshape(3,2,4)
print(array28)

In [ ]:
array29 = np.transpose(array28, (2,0,1))
print(array29)

#### Ejercicio 17 - Manipulación de Arrays en 3D

- Crea un array tridimensional con dimensiones (3, 4, 5) cuyos elementos sean números enteros aleatorios entre -10 y 10.

- Crea un array vacío con la misma forma y dimensiones que el array creado anteriormente. Luego, reemplaza los valores de la matriz vacía basada en los valores del primer array bajo las siguientes condiciones:

   - Si el valor es igual a la mediana, se reemplaza por `"M"`.

   - Si el valor es mayor que la mediana, se reemplaza por `"X"`.

   - Si el valor es menor que la mediana, se reemplaza por `"Y"`.

   - Si el valor es igual al máximo, se reemplaza por `"MAX"`.

   - Si el valor es igual al mínimo, se reemplaza por `"MIN"`.

In [ ]:
array30 = np.random.randint(-10,11,(3,4,5))
print(array30)

In [ ]:
array31 = np.empty((3,4,5),object)
print(array31)

In [ ]:
mediana = np.median(array30)
print(mediana)
maximo = np.max(array30)
print(maximo)
minimo = np.min(array30)
print(minimo)

In [ ]:
posicion_maximo = np.where(array30 == maximo)
print(posicion_maximo)
posicion_minimo = np.where(array30 == minimo)
print(posicion_minimo)
posicion_mediana = np.where(array30 == mediana)
print(posicion_mediana)
posicion_mayor_mediana = np.where((array30 > mediana) & (array30 != minimo) & (array30 != maximo))
print(posicion_mayor_mediana)
posicion_menor_mediana = np.where((array30 < mediana) & (array30 != minimo) & (array30 != maximo))
print(posicion_menor_mediana)

In [ ]:
array31[posicion_minimo] = "MIN"
array31[posicion_maximo] = "MAX"
array31[posicion_mediana] = "M"
array31[posicion_mayor_mediana] = "X"
array31[posicion_menor_mediana] = "Y"
print(array30)
print(array31)

#### Ejercicio 18 - Verificación de Filas y Columnas Iguales

Crea un array bidimensional de dimensiones 4x4, escribe un código para determinar si alguna fila es exactamente igual a alguna columna.

**Reglas:**

- No puedes usar funciones predefinidas de NumPy para comparar filas y columnas (`np.array_equal`, etc.).

- Debes resolverlo con estructuras básicas de Python (bucles, condicionales, etc.).

- Debes revisar si hay al menos una fila que coincida exactamente con alguna columna.

**Pistas**:

- Puedes recorrer cada fila y cada columna de la matriz usando bucles.

- Para comparar una fila con una columna, puedes hacerlo elemento por elemento.

In [ ]:
array32 = np.array([[3, 4, 5, 4], [4, 9, 6, 9], [7, 5, 6, 6], [14, 10, 8,9]])
print(array32)

In [ ]:
filas = []
columna1= []
columna2 = []
columna3 = []
columna4 = []
for elemento in array32:
  filas.append(list(elemento))

for lista in filas:
  columna1.append(lista[0])
  columna2.append(lista[1])
  columna3.append(lista[2])
  columna4.append(lista[3])

print(filas)
print(columna1)
print(columna2)
print(columna3)
print(columna4)

for lista in filas:
  if lista == columna1:
    print(f"La fila {lista} coincide con la columna {columna1}") 
  if lista == columna2:
    print(f"La fila {lista} coincide con la columna {columna2}") 
  if lista == columna3:
    print(f"La fila {lista} coincide con la columna {columna3}") 
  if lista == columna4:
    print(f"La fila {lista} coincide con la columna {columna4}")